h1 {
    color: #343a40;
    margin-top:50px;
}
.wrapperImg img {
   margin-top: -16px;
   width: 600px;
}

.first_desc {
    margin-top: 50px;
}
.second_desc {
    margin-top: 50px;
}
.third_desc {
    margin-top: 50px;
}
